<ion-header>
  <ion-toolbar>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="contatos">
    <ion-card *ngFor="let contatoKey of contatos">
      <ion-card-header>
        <h1>{{ contatoKey.contato.nome }} </h1>
      </ion-card-header>

      <ion-card-content>
        <ion-text>{{ contatoKey.contato.telefone }} - {{ contatoKey.contato.dtnasc | date: 'dd/MM/yyyy' }}</ion-text>
      </ion-card-content>

      <ion-row text-center>
        <ion-col>
          <ion-button (click)="editarContato(contatoKey)">
            <ion-icon name="create">

            </ion-icon>
            <ion-text>Editar</ion-text>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="removerContato(contatoKey)">            
            <ion-icon name="trash">
              
            </ion-icon>
            <ion-text>Excluir</ion-text>
          </ion-button>
        </ion-col>
        <ion-col>     
          <a href="tel:{{ contatoKey.contato.telefone }}">
          <ion-button>            
            <ion-icon name="call"> </ion-icon>
            <ion-text>Ligar</ion-text>
          </ion-button>           
          </a>
        </ion-col>
      </ion-row>
    </ion-card>  

    <ion-row *ngIf="contatos.length == 0">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="primary">
          <h2>Você não tem nenhum contato adicionado</h2>
        </ion-text>
        <ion-text color="danger">
            <h3>:(</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" padding slot="fixed">
    <ion-fab-button>
       <ion-icon name="add" (click)="addContato()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
