<ion-header>
  <ion-toolbar>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="contatos">
    <ion-card *ngFor="let contatoKey of contatos">
      <ion-card-header>
        <h1>{{ contatoKey.contato.nome }} </h1>
      </ion-card-header>

      <ion-card-content>
        <ion-text>{{ contatoKey.contato.telefone }} - {{ contatoKey.contato.dtnasc | date: 'dd/MM/yyyy' }}</ion-text>
      </ion-card-content>
    </ion-card>  

    <ion-row *ngIf="contatos.length == 0">
      <ion-col size="12" class="ion-text-center">
        <ion-text color="primary">
          <h2>Você não tem nenhum contato adicionado</h2>
        </ion-text>
        <ion-text color="danger">
            <h3>:(</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" padding slot="fixed">
    <ion-fab-button>
       <ion-icon name="add" (click)="addContato()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
