<ion-header>
  <ion-toolbar>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Nome:</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="model.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Telefone:</ion-label>
      <ion-input type="tel" name="telefone" [(ngModel)]="model.telefone"></ion-input>
    </ion-item>      
    <ion-item>
    <ion-label stacked>Data de Nascimento:</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" name="dtnasc" [(ngModel)]="model.dtnasc"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Ativo:</ion-label>
      <ion-toggle name="ativo" [(ngModel)]="model.ativo"></ion-toggle>
    </ion-item>    
  </ion-list>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button center ion-button block (click)="save()">Salvar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>